.container{
    margin-top: 100px;
}

.formulario {
    margin: 10px auto;
    padding: 10px 20px;
    background: #B1E8CD;
    border-radius: 0 0 8px 8px;
    color: black;
    width: 50vw;
    margin-top: 0;

}

.formulario h1 {
    text-align: center;
    align-items: center;
    background: #4bc970;
    height: 45px;
    margin: 0 0 30px 0;
    font-size: 30px;
    border-radius: 5px;
    
}

.formulario select{
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.formulario input{
     border: none;
    font-size: 16px;
    height: 1px;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 90%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    margin-right: 30px;
}

.formulario label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 1px;
    margin-right: 5px;
}

.inputContainer{
    display: flex;
    flex-direction: row;
}

.selectContainer{
    margin-top: 15px;
}

.btnCreate{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 20px;
    
}

.btnCreate:hover{
    background: #42aa53;
}

.btnBack{
    background: #F6B352;
    color: black;
    border-radius: 5px 5px 0 0;
    transition: all 200ms ease-in-out;
    text-align: center;
    cursor: pointer;
    width: 52.3vw;
    height: 35px;
    font-size: 25px;
}

.btnBack:hover{
    background: #F68657;
}

.countryContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.country{
    width: 70px;
    background: #770594;
    color: rgb(218, 210, 210);
    font-weight: bold;
}

.btnDelete{
    font-size: 15px;
    margin-left: 5px;
    width: 5px;
    height: 17px;
    text-align: center;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 10px;
    padding-bottom: 17px;
}

.error{
    color: red;
    font-family: "Varela Round", sans-serif;
    font-size: 0.8rem;
    margin-top: 5px;
    background-color:transparent;
    font-size: small;
    font-weight: bold;
    margin-right: 15px;
}